includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - tests
        - lib/grpc
    excludePaths:
        - src/Kernel.php
        - tests/Unit/CookieTokenAuthenticatorTest.php
        - tests/Unit/KeycloakAuthControllerTest.php
    reportUnmatchedIgnoredErrors: false
    doctrine:
        objectManagerLoader: tests/object-manager.php

