<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <file>../tests/Unit/EmailServiceTest.php</file>
        </testsuite>
        <testsuite name="AllUnit">
            <directory>../tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>../tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>../tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>../public/inc/auth</directory>
            <directory>../public/inc/services</directory>
            <directory>../public/inc/files</directory>
            <directory>../public/inc/api</directory>
        </include>
        <report>
            <html outputDirectory="../reports/coverage" />
        </report>
    </coverage>
    <logging>
        <testdoxHtml outputFile="../reports/testdox.html"/>
        <junit outputFile="../reports/junit.xml"/>
    </logging>
</phpunit>
